<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ZMV</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="An Awesome Discord Server."/>
    <link rel="shortcut icon" href="https://cdn.glitch.com/a0e92b57-b948-4d3b-bbd7-e2c2868d31d3%2Fzmv%20emoji.png?v=1570294932300" />
    <meta name="author" content="ZYROUGE">
    <meta name="og:site_name" content="Zy's Multiverse"/>
    <meta name="og:image" content="https://cdn.glitch.com/a0e92b57-b948-4d3b-bbd7-e2c2868d31d3%2Fzmv%20emoji.png?v=1570294932300" />
    <meta name="theme-color" content="#181818">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
  </head>
  <body>
    <div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
      <a href="/">Home</a>
      <a href="/join">Join</a>
      <a href="/updates">Updates</a>
      <a href="/stats">Stats</a>
    </div></div>
    <span style="font-size:30px;color:white;cursor:pointer" onclick="openNav()">&#9776;</span>
    <script>
        function openNav() {
          document.getElementById("myNav").style.width = "100%";
        }
        
        function closeNav() {
          document.getElementById("myNav").style.width = "0%";
        }
    </script>
    <center>
    <img src="https://cdn.glitch.com/a0e92b57-b948-4d3b-bbd7-e2c2868d31d3%2Fzmv%20emoji.png?v=1570294932300" alt="ZMV | Logo" style="width:100px;height:100px;"> 
    <br>
    <h1>ZMV | Zy's Multiverse</h1>
    <br></center>
    <h1>Name: <b><%- zmv %></b></h1>
    <h1>Members: <b><%- membercount %></b></h1>
    <h1>Citizens: <b><%- citizens %></b></h1>
    <h1>Region: <b><%- region %></b></h1>
    <h1>Emojis: <b><%- emojis %></b></h1>
    <h1>Text Channels: <b><%- text %></b></h1>
    <h1>Voice Channels: <b><%- voice %></b></h1>
    <h1>Roles: <b><%- roles %></b></h1>
    <h1>Status: <b><%- available %></b></h1>
    <h1>Owner: <b><%- owner %></b></h1>
    <br>
    <br>
  <hr>
  <center>
  <div class="footer" style="color:white;font-size: 8px;">
      <p>&copy; Copyright 2019 by ZYROUGE</p>
    </div>
  </body>
</html>